.navbar .navbar-brand img {
    height: 40px !important; /* Zmanjšaj višino logotipa */
    width: auto !important;
}
.navbar .navbar-brand .logo-circle {
    width: 70px !important;  /* Povečaj širino kroga */
    height: 70px !important; /* Povečaj višino kroga */
    line-height: 70px !important; /* Prilagodi poravnavo */
}
